.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  transition: all 0.75s;
  cursor: pointer;
}

.todo-item:hover {
  background: rgba(255, 255, 255, .3);
}

.todo-item .date {
  font-size: .8rem;
  color: #555;
  margin-right: .5rem;
}