.todo-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5rem 1rem;
	margin: 1rem;
	margin-bottom: 1.5rem;
	font-size: 1.2rem;
	border: 1px solid rgba(0, 0, 0, .05);
}